{% extends 'base.jinja2.html' %}

{% block body %}
    
    {% block navbar %}
        {{ super() }}
    {% endblock %}


    {% block main_body %}
        
        <div class="container">
            <br />
            <div class="card">
                <div class="card-body">
                    <img src="/static/images/face.png" alt="Ethan" class="rounded-circle pull-left mr-3 ml-1" width="150">
                    <h2 class="card-title">About Me</h2>
                    <p class="card-text" style="overflow: hidden">Here's some filler text for "About Me" until I figure out what to really put into it. Maybe I can be cheeky and calculate my age and put that in dynamically like this: My age is {{ my_age }}. </p>
                </div>
            </div>

            <br />
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">About This Website</h2>
                    <p class="card-text">Considering much of my professional work so far has been creating websites, this website is not only a fancy little resume, it's a demonstration of my skills. This is no mere Squarespace or Wix template, this is my own handiwork. Using a Python-powered backend of <a href="http://flask.pocoo.org/" class="card-link">Flask</a> and a frontend brought to life by <a href="https://getbootstrap.com/">Bootstrap</a>, this website is just the start of the things I'm capabale of.</p>

                    <p class="card-text">If you're a bit skeptical of the claim that this isn't a template, why not check my code out yourself? You can check out this website and my other projects at my GitHub page.</p>
                    <a href="https://github.com/EthanAMoss/personal-website" class="btn btn-primary"><span class="fa fa-github"></span> Check it Out</a>
                </div>
            </div>

            <br />
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Steal My Look</h2>
                    <p class="card-text">Right now, this is using the Bootstrap default theme, so it isn't too out there. Once I figure out the them I'm using, there will be a link here. Also, the cool icons that my social links use are from <a href="https://www.fontawesome.com/" class="card-link">Font Awesome</a>.</p>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}
