{% extends 'base.jinja2.html' %}

{% block body %}
    
    {% block navbar %}
        {{ super() }}
    {% endblock %}


    {% block main_body %}

        <div class="container">
        Hey there! I'm a soon-to-be graduate of George Fox University with a Bachelor's of Science in Computer Science. Not only that, but I have over 3 years of experience working with George Fox's Data Analytics department, making webapps that work a lot like this one. 
        </div>

<br />
        <br />
        <br /><br />
        <br />
        <br /><br />
        <br />
        <br /><br />
        <br />
        <br /><br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />

<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
    {% endblock %}

{% endblock %}
