{% extends 'base.jinja2.html' %}

{% block body %}
    
    {% block navbar %}
        {{ super() }}
    {% endblock %}


    {% block main_body %}
        {{ super() }}
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-9 col-xl-10">                  
                            <h2 class="card-title">About Me</h2>
                            <p class="card-text">My name is Ethan Andrew Moss, I'm {{ my_age }} years old, and I am currently a student in my Senior year at George Fox University. I'll be graduating at the end of this April with a BS in Computer Science, if all goes well. I'm not too worried (yet). During my time as a student at George Fox, I've participated in the William Penn Honors Program as part of its inaugural class, and I've found employment interning with the school's Data Analytics department. Working under Data Analytics has been invaluable, as it has provided me with a solid 3 years of development experience, allowing me to hone my skills outside of the classroom in that time.</p>
                            <p class="card-text">If you'd like to learn more about my past development experience, I have a whole page on my <a href="{{ url_for('resume_page') }}">Resume</a>, with more detail on what I've done so far. I'll also be posting more general things about myself (interests, quirks, etc.) on my <a href="{{ url_for('blog_page') }}">Blog</a>, if you'd like to know the sorts of things I nerd out to.</p>
                        </div>
                        <div class="col-12 col-md-3 col-xl-2">
                            <img src="/static/images/face.png" alt="Ethan" class="rounded-circle mt-2 my-md-auto mx-auto d-block" width="150">
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">About This Website</h2>
                    <p class="card-text">This website serves two main roles: a nice little personal page to get my name out there and a demonstration of some of the skills I've acquired. A good portion of my work experience has been making webapps much like this one, so it wouldn't be proper if I used some pre-made web template. Much like the many webapps I've already made, this uses a <a href="https://www.python.org/">Python</a>-powered backend of <a href="http://flask.pocoo.org/" class="card-link">Flask</a> and a frontend brought to life by <a href="https://getbootstrap.com/">Bootstrap</a> (along with the usual HTML and JavaScript).</p>

                    <p class="card-text">If you would like to see how this website ticks, why not check out the source code? I've hosted this and other projects on my GitHub account.</p>
                    <a href="https://github.com/EthanAMoss/personal-website" class="btn btn-primary"><span class="fa fa-github"></span> This Very Website</a>
                </div>
            </div>

            <br />
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Steal My Look</h2>
                    <p class="card-text">I may know my way around developing software, but graphic design is a different story entirely. This website was built using the aforementioned Bootstrap, using the <a target="_blank" href="https://bootswatch.com/superhero/">Superhero</a> theme by <a target="_blank" href="https://bootswatch.com/">Bootswatch</a>. I'll also have to give a big thanks to <a href="https://www.fontawesome.com/" class="card-link">Font Awesome</a> for providing the cool icons you see on the navbar and elsewhere.</p>
                </div>
            </div>

            <br />
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Anything I've Missed?</h2>
                    <p class="card-text">Is there anything you'd like to know that I didn't cover here or on the other pages? Feel free to send your burning questions about me or this website through my <a href="{{ url_for('contact_page') }}">Contact</a> page.</p>                
                </div>
            </div>

            <br />
        </div>
    {% endblock %}

    {% block footer %}
        {{ super() }}
    {% endblock %}

{% endblock %}
