<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Ethan Moss{% endblock %}</title>

{# {% import 'macros.jinja2.html' as macros %} #}

{# Set the class for the body tag #}
{% set body_class = request.endpoint %}

{# Add a class if we are dev mode #}
{% set body_class = body_class ~ " developer_mode" if config.DEVELOPER_MODE else body_class %}

        <!-- CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/emoss_website.css') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        {% block extra_css %}
        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body class="{{ body_class }}">

    {% block body %}
        
        {% block header %}
        <div class="container" id="site-header"></div>
        {% endblock %}

        {% block navbar %}
        <nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand sticky-hide {{ 'invisible' if request.path == '/' }}" href="{{ url_for('home_page') }}">Ethan Moss</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="nav navbar-nav abs-center-x">
                    <li class="nav-item">
                        <a class="nav-link {{ 'active' if request.path == '/about' }}" href="{{ url_for('about_page') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ 'active' if request.path == '/blog' }}" href="{{ url_for('blog_page') }}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ 'active' if request.path == '/resume' }}" href="{{ url_for('resume_page') }}">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ 'active' if request.path == '/contact' }}" href="{{ url_for('contact_page') }}">Contact</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav ml-auto social-links">
                    <li class="nav-item sticky-hide {{ 'invisible' if request.path == '/' }}">
                        <a class="fa fa-linkedin nav-link" href="https://www.linkedin.com/in/ethan-moss-0388aba3/" title="LinkedIn"></a>
                        <a class="fa fa-github nav-link" href="https://github.com/EthanAMoss" title="GitHub"></a>
                        <a class="fa fa-envelope nav-link" href="{{ url_for('contact_page') }}" title="Email"></a>
                    </li>
                </ul>
            </div>
        </nav> <!-- /.navbar -->
        {% endblock %}

        <div class="container main_body">

        {% block main_body %}
            {# {{ macros.render_flash() }} #}
        {% endblock %}
        </div> <!-- /.container.main_body -->

    {% endblock %}


        <!-- Javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% block extra_js %}
    {% endblock %}
    </body>
</html>

