{% extends 'base.jinja2.html' %}

{% block body %}
    
    {% block navbar %}
        {{ super() }}
    {% endblock %}


    {% block main_body %}
        <div class="container">
            <br />
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Contact Me</h2>
                    <form action="{{ url_for('contact_page') }}" method="POST">
                    {% for field in contact_form %}
                        <div class="form-group">
                        {% if field.widget.input_type != "hidden" %}
                        {{ field.label }}
                        {% endif %}
                        {{ field(class="form-control") }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}
