{% extends 'base.jinja2.html' %}

{% block body %}
    
    {% block header %}
        <div class="container" id="site-header">
            <div class="text-center mx-auto">
                <h1 class="card-title">Ethan Andrew Moss</h1>
                <h4 class="card-subtitle text-muted">Software Developer</h4>
                <p class="social-links">
                    <a class="fa fa-linkedin nav-link text-muted" href="https://www.linkedin.com/in/ethan-moss-0388aba3/" title="LinkedIn"></a>
                    <a class="fa fa-github nav-link text-muted" href="https://github.com/EthanAMoss" title="GitHub"></a>
                    <a class="fa fa-envelope nav-link text-muted" href="{{ url_for('contact_page') }}" title="Email"></a>
                </p>
            </div>
        </div>
    {% endblock %}

    {% block navbar %}
        {{ super() }}
    {% endblock %}


    {% block main_body %}

        <div class="container">
        Hey there! I'm a soon-to-be graduate of George Fox University with a Bachelor's of Science in Computer Science. Not only that, but I have over 3 years of experience working with George Fox's Data Analytics department, making webapps that work a lot like this one. 
        </div>

<br />
        <br />
        <br /><br />
        <br />
        <br /><br />
        <br />
        <br /><br />
        <br />
        <br /><br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />

<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
    {% endblock %}

{% endblock %}

{% block extra_js %}
<script>
$(window).scroll(function() {
    if($(window).scrollTop() > $('#site-header').height()) {
        $('.sticky-hide').removeClass('invisible');
        $('.sticky-hide').stop().fadeTo('fast', 1);
    } else {
        $('.sticky-hide').stop().fadeTo('fast', 0);
    }
});
</script>
{% endblock %}
