{% extends 'base.jinja2.html' %}

{% block body %}
    
    {% block header %}
        <div class="container" id="site-header">
            Let's try for some content above the navbar on the homepage. Here will go that picture of me, my name in big letters, under which would be "Software Developer", then the social media links. It'd be cool if the brand and social links were hidden in the bar until the navbar was stuck on top.

        <br />
        <br />
        <br />
        </div>
    {% endblock %}

    {% block navbar %}
        {{ super() }}
    {% endblock %}


    {% block main_body %}

        <div class="container">
        Hey there! I'm a soon-to-be graduate of George Fox University with a Bachelor's of Science in Computer Science. Not only that, but I have over 3 years of experience working with George Fox's Data Analytics department, making webapps that work a lot like this one. 
        </div>

<br />
        <br />
        <br /><br />
        <br />
        <br /><br />
        <br />
        <br /><br />
        <br />
        <br /><br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />

<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
<br />
        <br />
        <br />
    {% endblock %}

{% endblock %}

{% block extra_js %}
<script>
$(window).scroll(function() {
    if($(window).scrollTop() > $('#site-header').height()) {
        $('.sticky-hide').removeClass('invisible');
        $('.sticky-hide').stop().fadeTo('fast', 1);
    } else {
        $('.sticky-hide').stop().fadeTo('fast', 0);
    }
});
</script>
{% endblock %}
