@media (min-width: 768px) {
    .abs-center-x {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.social-links {
    font-size: 2em;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
}
