# Sensitive Variables that shouldn't be visible to the outside

# Secret Key for sessions
SECRET_KEY = ""

# Mail configuration for Contact Form
MAIL_SERVER = ""
MAIL_PORT = None
MAIL_USERNAME = ""
MAIL_PASSWORD = ""
EMAIL_RECIPIENT = ""

# Path for SQLite Database, relative to the base directory (that is, the one that contains the 'emoss_website' folder)
DB_PATH = ""
